In [86]:
import pandas as pd

In [87]:
file = pd.read_csv('lexicon_spanish_fixed.csv')

In [88]:
df = pd.DataFrame(file)

In [89]:
#the list has no NaN or Null values.

df = df.drop(columns= ['Unnamed: 0','index'])

In [103]:
df[df['Spanish-es'] == 'abogado']
df[df['Spanish-es'] == 'fraude']
df[df['Spanish-es'] == 'traición']

     Spanish-es emotion
4566   traición   anger

In [90]:
print (df['Spanish-es'][df['Spanish-es'] == 'NO TRANSLATION'])

3270    NO TRANSLATION
Name: Spanish-es, dtype: object

In [85]:
sample = df.sample(n=5, axis=0)
sample

        Spanish-es emotion
3959      reclutas   trust
11397  prisioneras   anger
9198        ruinas   anger
1512     dibujando     joy
6213        máximo   trust

In [75]:
sample.loc[5542, 'Spanish-es'] = 'deuda'

In [80]:
sample

       Spanish-es       emotion      0
5542        deuda       sadness  deuda
1414   deshonesto         anger    NaN
239     almirante         trust    NaN
4769   vulnerable         trust    NaN
2811  lanzamiento  anticipation    NaN
0             NaN           NaN  deuda

In [208]:
df[df['emotion'] == 'anticipation'].sample(n=3, axis=0)

       Spanish-es       emotion
4706     victoria  anticipation
7995  el respetos  anticipation
7731     costados  anticipation